################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CecilioNolenAuditReview/.vs/CecilioNolenAuditReview/v16/Server/sqlite3
